
.form_my{
  position :relative;
}
.btn_my{
  font-weight: 600;
  border-radius: 10%;
  outline: none;
  border: none;
  color: rgb(238, 236, 236);
  font-size: small;
}

.btn_my>button:hover{
  transition: color .3s linear;
  color: #212121;
}
.input_my{
  height: 20px;
  width: 0 auto;
  background-color: transparent;
  outline: none;
  border: 2px solid steelblue;
  font-size: small;
}
.input_my:hover{
  transition: 0.2s ease-in-out;
  box-shadow: 0 0 10px 1px steelblue;
}

.data_info{

  display: block;
  height: 50px;
  width: 120px;
  font-weight: 900;
  font-size: 20;
  background-color:transparent;
  /* opacity: 0.3; */
  position: absolute;
  /* border-style: solid;  */
  white-space: nowrap;
}