#vaccines-box{
  display: flex;
  height: 100vh;
  padding-right: 0.5rem;
}
#vaccines-center {
  flex: 1;
}
#vaccines-left {
  width: 15vw;
  overflow-y: auto;
  border-right: 10rem;
}
#vaccines-left > h3{
  margin-left: 0.5rem;
}
#vaccines-right {
  width: 25vw;       
  /* background-color: red;     */
}
.selectCountryDiv{
  background-color: aliceblue;
  margin: 0.5rem;
  padding: 0 0.5rem;
  border: 2px solid #ccc;
  border-radius: 4px;
}